.App .navbar-brand {
  font-weight: bold;
}
.device-nav-bar {
  background-color:#2C3E50;
}
.signIn-btn{
  background-color: #7b8a8b;
  border-color:#7b8a8b;
}
.person-icon{
  background-color:transparent;
  display:inline-block;
  padding-right:10px;
}