.device-list-wrapper{
    padding-top:150px;
}
.col-hidden{
    display:none;
}
.delbutton {
    display: block;
    width: 50%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.fade:not(.show) {
    opacity: 1.0;
}
.modal-backdrop {
    opacity: 0.25 !important;
}
.modal-header{
    display:block;
}
.modal-content{
    margin-top:150px;
}
